* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

/* ======================LOADER=============================== */

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5%;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #76f012);
    animation: animate-back 1s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    z-index: 1000;
}

.loader:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(40deg, transparent, transparent 40%, #ffffff);
    border-radius: 50%;
    z-index: 1;
    filter: blur(20px);
}

/* ======================CENTER=============================== */

.loader__center {
    position: relative;
    width: 300px;
    height: 300px;
    animation: animate 3s linear infinite;
}

.loader__center:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: url(../CSS3-Glowing-Gradient-Loader-Ring-Animation-Effects/0.jpg) center rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    z-index: 1000;
}

.loader__center:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(40deg, transparent, transparent 40%, #96f11e);
    border-radius: 50%;
    z-index: 1;
    filter: blur(40px);
}

/* ======================ANIMATION=============================== */

@keyframes animate-back {
    0% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg); 
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg); 
    }
}